
.achievementscontent{
    background-color: #D2BAD9;
        border-radius: 80px;
        height: 900px;
        width: 100%;
}
.navbar{
    font-weight: 800;
    justify-content: space-around;
      display: flex;
      font-size: 20px;
      align-items: center;
  
  }
.navbar a{
    text-decoration: none;
}
.mentoruplogo{
    width: 150px;
    height: 100px;
}

.checkbox{
    background-color: #6E038C;
    height:60px; 
    width:60px;
}
.input{
    border: solid 1px;
    padding: 20px;
    width: 300px;
    border-radius: 40px; 
 }
 .checkboxandinputs{
    display: flex;
    gap: 5%;
    align-items: center;
    margin-left: 30%;
 }
 .heading{
    text-align: center;
    color: #6E038C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.todolist{
    margin-left: 35%;
}
 .addtask{
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #6E038C;
 }
 @media screen and (min-width:280px) and (max-width:375px){
    .achievementscontent{

            height: 900px;
            width: 90%;
    }
    .navbar{
        font-weight: 500;
        flex-direction: column;
          font-size: 10px;
          align-items: center;
      
      }
    .mentoruplogo{
        width: 50px;
        height: 40px;
    }
    
    .checkbox{
        background-color: #6E038C;
        height:30px; 
        width:30px;
    }
    .input{
        border: solid 1px;
        padding: 10px;
        width: 100px;
        border-radius: 40px; 
     }
     .checkboxandinputs{
        display: flex;
     }
     .heading{
        
        font-size: 20px;

    }
     .addtask{
        display: flex;
        font-size: 20px;
     }
 }
 @media screen and (min-width:376px) and (max-width:600px){
    .achievementscontent{

            height: 900px;
            width: 90%;
    }
    .navbar{
        font-weight: 500;
        flex-direction: column;
          font-size: 10px;
          align-items: center;
      
      }
    .mentoruplogo{
        width: 50px;
        height: 40px;
    }
    
    .checkbox{
        background-color: #6E038C;
        height:30px; 
        width:30px;
    }
    .input{
        border: solid 1px;
        padding: 10px;
        width: 100px;
        border-radius: 40px; 
     }
     .checkboxandinputs{
        display: flex;
     }
     .heading{
        
        font-size: 20px;

    }
     .addtask{
        display: flex;
        font-size: 20px;
     }
 }
 @media screen and (min-width:600px) and (max-width:1300px){
    .achievementscontent{

            height: 900px;
            width: 90%;
    }
    .navbar{
        font-weight: 500;
        flex-direction: column;
          font-size: 20px;
          align-items: center;
      
      }
    .mentoruplogo{
        width: 70px;
        height: 50px;
    }
    
    .checkbox{
        background-color: #6E038C;
        height:40px; 
        width:40px;
    }
    .input{
        border: solid 1px;
        padding: 20px;
        width: 140px;
        border-radius: 40px; 
     }
     .checkboxandinputs{
        display: flex;
     }
     .heading{
        
        font-size: 30px;

    }
     .addtask{
        display: flex;
        font-size: 30px;
     }
 }